
<form class="simple-form">
	<input type="text" placeholder='uid' ng-model="message.uid" /><br />
	<input type="text" placeholder='title' ng-model="message.title" /><br />
	<input type="text" placeholder='content' ng-model="message.content" /><br />
	<input type="text" placeholder='location' ng-model="message.location" /><br />
	<ion-toggle ng-model="message.privateMode" toggle-class="toggle-calm">Private Post</ion-toggle>
    <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
<!--
<button class="button button-full button-balanced" ng-click="postMessage(user)">Post</button>
-->
</form>
