
<form class="simple-form">
	<input class='inputPost' type="text" style='text-align:center' placeholder='uid' ng-model="message.uid" /><br />
	<input class='inputPost' type="text" placeholder='title' ng-model="message.title" /><br />
	<input class='inputPost' type="text" placeholder='content' ng-model="message.content" /><br />
	<input class='inputPost' type="text" placeholder='location' ng-model="message.location" /><br />
	<ion-toggle ng-model="message.privateMode" toggle-class="toggle-calm">Private Post</ion-toggle>
</form>
