<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in messages" type="item-text-wrap"> 

      <a class="item item-thumbnail-left"  href="#">
        <img src="https://lh3.googleusercontent.com/-8jienLAMEug/AAAAAAAAAAI/AAAAAAAAAAA/hYwnFLUtMC0/photo.jpg">
        <h1 style="text-align:center"> Title {{chat.title}} </h1>
        <h2> Name {{chat.displayName}} </h2>
        <p> Upvotes / Downvotes </p>
        <div posted='{{chat.timestamp}}'> Time posted {{chat.timestamp}} </div>
        <div ng-bind-html="time">{{ time | date:'medium'}}</div>
        <div ng-bind-html="remain">{{ remain | date:'medium'}}</div>
      </a>  

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="downvote(chat)">
          <i class="icon ion-thumbsdown"></i>
        </ion-option-button>

        <i class="icon ion-chevron-left icon-accessory"></i>
        <ion-option-button class="button-positive" ng-click="upvote(chat)">
          <i class="icon ion-thumbsup"></i>
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
