<ion-view view-title="Feed">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in messages" type="item-text-wrap"> 
<!--
      <a class="item item-thumbnail-left"  href="#">
        <img src="https://lh3.googleusercontent.com/-8jienLAMEug/AAAAAAAAAAI/AAAAAAAAAAA/hYwnFLUtMC0/photo.jpg">

        <h1 style="text-align:left"> {{chat.title}} </h1>
        <h2> Name {{chat.displayName}} </h2>
        <p style="color:blue"> Likes: {{chat.upvote}} </p>
        <p style="color:red"> Dislikes: {{chat.downvote}}</p>
        <div posted='{{chat.timestamp}}'> Time posted {{chat.timestamp}} </div>

      </a>  
    -->
    <div class="list card">

    <div class="item item-avatar">
      <img src="https://lh3.googleusercontent.com/-8jienLAMEug/AAAAAAAAAAI/AAAAAAAAAAA/hYwnFLUtMC0/photo.jpg">
      <h2 style="color:blue"> {{chat.displayName}}</h2> <br />
      <p class="subdued" posted='{{chat.timestamp}}'>{{chat.timestamp}} </p>
    </div>

    <div class="item item-body">
      <h1>{{chat.title}}</h1>
      <p>
        {{chat.content}}
      </p>
      <p>
        <a href="#" class="subdued" style="color:blue"> {{chat.upvote}} likes</a>
        <a href="#" class="subdued" style="color:red">{{chat.downvote}} dislikes</a>
      </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">

      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>

  </div>


        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="downvote(chat.postID)">
          <i class="icon ion-thumbsdown"></i>
        </ion-option-button>

        <i class="icon ion-chevron-left icon-accessory"></i>
        <ion-option-button class="button-positive" ng-click="upvote(chat.postID)">
          <i class="icon ion-thumbsup"></i>
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

