<ion-view view-title="Dashboard">
  <ion-content class="padding">
  
    <div class="list card">
      <div class="item item-divider">Current Location</div>
      <div class="item item-body">
        <div>
          {{latitude}}, {{longitude}}
        </div>
      </div>
    </div>
  
  <head>
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script> 

  </head>
<!--
  <form class="simple-form">
      uid: <input type="text" ng-model="user.uid" /><br />
      title : <input type="text" ng-model="user.title" /><br />
      content : <input type="text" ng-model="user.content" /><br />
      location :<input type="text" ng-model="user.location" /><br />
      <button ng-click="postMessage(user)">Test</button>
   </form>
-->
     <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="title" ng-model="message.title">
      </label>
      <label class="item item-input">
        <textarea placeholder="content" ng-model="message.content"></textarea>
      </label>
      <label class="item item-input">
        <input type="float" placeholder="latitude" ng-model="message.latitude">
      </label>
      <label class="item item-input">
        <input type="float" placeholder="longitude" ng-model="message.longitude">
      </label>
      <label class="item item-input">
        <ion-toggle ng-model="message.privateMode" toggle-class="toggle-calm">Private Post</ion-toggle>
      </label>
      <label>
        <button class="button button-full button-balanced" ng-click="postMessage(message)">Post</button>
      </label>
  </div>

  <body>
<!-- {{user}}
-->
<!--
    <button class="button button-balanced" ng-click="showPopup()">
      <i class="icon ion-plus"></i>
    </button>

    <script id="popup-postmessage.html" type="text/ng-template">
    </script>
  </body>
-->
  </ion-content>
</ion-view>
